<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">
  <targets>
    <target xsi:type="Null" name="blackHole" />

    <!--Console Target for hosting lifetime messages to improve Docker / Visual Studio startup detection -->
    <target name="lifetimeConsole"
            xsi:type="Console"
            layout="${level:truncate=4:tolower=true}: ${logger}[0]${newline}      ${message}${exception:format=tostring}" />

    <target name="logfile"
            xsi:type="File"
            layout="${longdate} ${uppercase:${level}} ${message} ${exception:format=tostring}; logger = ${logger}"
            fileName="${basedir}/logs/Log.current.txt"
            archiveFileName="${basedir}/logs/archives/Log.{#}.txt"
            archiveEvery="Day"
            archiveNumbering="DateAndSequence"
            archiveDateFormat="yyyyMMdd"
            archiveAboveSize="5242880"
            maxArchiveFiles="9" />

    <target name="consoleout"
            xsi:type="Console"
            layout="${longdate} ${uppercase:${level}} ${message} ${exception:format=tostring}; logger = ${logger}" />
  </targets>

  <rules>
    <logger ruleName="AllToFile" name="*" minlevel="Info" writeTo="logfile">
      <filters defaultAction="Log">
        <when condition="starts-with(logger,'System.') and level &lt; LogLevel.Warn" action="Ignore" />
        <when condition="starts-with(logger,'Microsoft.') and level &lt; LogLevel.Warn" action="Ignore" />
      </filters>
    </logger>

    <logger ruleName="AllToConsole" name="*" minlevel="Info" writeTo="consoleout">
      <filters defaultAction="Log">
        <when condition="starts-with(logger,'System.') and level &lt; LogLevel.Warn" action="Ignore" />
        <when condition="starts-with(logger,'Microsoft.') and level &lt; LogLevel.Warn" action="Ignore" />
      </filters>
    </logger>

    <!--Output hosting lifetime messages to make Docker / Visual Studio happy (see https://github.com/NLog/NLog.Web/wiki/Hosting-Lifetime-Startup-Messages) -->
    <logger ruleName="MicrosoftHostingLifetimeToConsole" name="Microsoft.Hosting.Lifetime" minlevel="Info" writeTo="lifetimeConsole" final="true" />
  </rules>
</nlog>
